<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iShare</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<h1>iShare Page</h1>
	<p>Welcome my friend!</p>
	
	<div class="col-lg-offset-3 col-lg-6">

		<a class="btn btn-success" data-toggle="collapse" data-target="#post_edit">Write Post <span class="caret"></span></a>
		<div id="post_edit" class="collapse">
			<div class="form-group">
				<label for="post_edit">Everything You Like:</label>
				<textarea class="form-control" rows="5" id="post_edit"></textarea>
			</div>
		</div>
	</div>
	
	<div class="col-lg-offset-3 col-lg-6">
		<div class="thumbnail">
			<a href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
				<img src="https://www.w3schools.com/w3images/lights.jpg" alt="Lights" style="width:100%">
				<div class="caption">
					<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-offset-3 col-lg-6">
		<div class="thumbnail">
			<a href="https://www.w3schools.com/w3images/nature.jpg" target="_blank">
				<img src="https://www.w3schools.com/w3images/nature.jpg" alt="Nature" style="width:100%">
				<div class="caption">
					<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-offset-3 col-lg-6">
		<div class="thumbnail">
			<a href="https://www.w3schools.com/w3images/fjords.jpg" target="_blank">
				<img src="https://www.w3schools.com/w3images/fjords.jpg" alt="Fjords" style="width:100%">
				<div class="caption">
					<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
				</div>
			</a>
		</div>
	</div>
	
</div>
</body>
</html>