<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iShare</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" id="div-contents">
	<h1>iShare Page</h1>
	<p>Welcome my friend!</p>
	
	<div class="col-lg-offset-3 col-lg-6">

		<a class="btn btn-success" data-toggle="collapse" data-target="#post_edit">Write Post <span class="caret"></span></a>
		<div id="post_edit" class="collapse">
			<div class="form-group">
				<label for="post_edit">Everything You Like:</label>
				<form method="POST" enctype="multipart/form-data" action="/fileup">
					<textarea class="form-control" rows="5" id="post_edit" placeholder="What's on your mind?" name="text"></textarea>
					<div class="top5"></div>
					<div class="col-lg-9">
						<img id="postimg" src="#" alt="" class="img-thumbnail">
					</div>
					<label class="btn btn-success btn-file">
					Image <span class="glyphicon glyphicon-folder-open"></span><input id="imgInp" type="file" name="file">
					</label>
					<button type="submit" class="btn btn-primary">Post</button>
				</form>
			</div>
		</div>
	</div>
	
		
		<div th:each="postText : ${postTexts}">
				<div class="col-lg-offset-3 col-lg-6">
					<div class="thumbnail">
						<a th:href="'/postimg/' + ${postText.postImgs[0].hashedFilename}" target="_blank">
							<img th:src="'/postimg/' + ${postText.postImgs[0].cpFileName != null} ? ${postText.postImgs[0].cpFileName} : ${postText.postImgs[0].hashedFilename}" th:alt="${postText.content}" >
							<div class="caption">
								<p th:text="${postText.content} + '---' + ${postText.date}"></p>
							</div>
						</a>
					</div>
				</div>
		</div>

</div>

<script src="/js/index.common.js"></script>

</body>
</html>